@import url(https://fonts.googleapis.com/css?family=Open+Sans);

* {
	box-sizing: border-box;
}
body {
    margin: 0;
	font-family: 'Open Sans', sans-serif;
    background: #E0E0E0;
}

img {
    display: block;
    max-width: 100%;
}

.section__titulo {
    text-align: center;
    font-size: 30px;
    color: #333;
}

.contenedor {
    margin: auto;
    width: 99%;
}

/*Estilos del header*/

header {
	height: 52px;
    background: rgba(51,51,51,0.9);
	color: #fff;
}

header .container {
	display: flex;
    justify-content: space-between;
}

.logo, icon-menu {
    margin: 5px;
    text-decoration: none;
    color: white;
}

.img-logo {
    weight: 48px;
    height: 48px;
}

.logo-text {
    text-decoration: none;
    color: white;
}

.icon-menu {
    display: block;
    width: 20%;
    height: 20%;
    font-size: 28px;
    background: rgba(51,51,51,0.9);
    color: #fff;
    text-align: center;
    line-height: 45px;
    border-radius: 5px;
    margin-left: auto;
    cursor: pointer;
}
/*Estilos del menu*/
.nav {
    position: absolute;
    top: 60px;
    left: -100%;
    width: 100%;
    transition: all 0.4s;
}

.menu {
    list-style: none;
    padding: 0;
    margin: 0;
}

.menu__link {
    top: 60px;
    display: block;
    padding: 15px;
    background: rgba(51,51,51,0.9);
    text-decoration: none;
    color: #fff;
}

.menu__link:hover, .select {
    background: rgba(255,255,255,0.7);
    color: #333;
}

.mostrar {
    left: 0;
}

/*Estilos grilla*/

.post__img {
    max-width: 80%px;
    height: auto;
    border-radius: 3px;
}

.section {
    clear: both;
    padding: 0;
    margin: 0;
}

.col{
    display: block;
    float: left;
    margin: 1% 0 1% 1.6%;
}

.col:first-child{
    margin-left: 0;
}

.span_3_of_3 {
    width: 100%;
}

.span_2_of_3 {
    width: 66.1%;
}

.span_1_of_3 {
    width: 32.2%;
}

.span_1_of_3 .social [class^="icon-"] {
    color: #fff;
    text-decoration: none;
    font-size: 15px;
    padding: 2px;
    background: #333;
    border-radius: 50px;
    width: 50%;
    height: 50%;
}

.social-text {
    color: #000;
}

/*Estilos blog*/

.blog {
    max-width: 1020px;
    margin: 0 auto;
    padding: 20px;
}

.blog-post {
    background: white;
    margin: 0 auto 2em auto;
    padding: 35px 30px;
}

.side-post {
    background: white;
    margin: 0 auto 1.5em auto;
    width: 15em;
    padding: 20px;
}

.blog-content {
    padding-left: 15px;
    color: gray;
}

.side-content {
    font-size: .8em;
    margin-top: 8px;
    margin-bottom: 0;
}

.blog-title {
    margin-top: 5px;
    text-align: center;
    color: #000;
}

.post-link{
    color: #C69C6D;
    font-style: italic;
    transition: all 0.4s;
    text-decoration: none;
}

.post-link:hover {
    text-decoration: underline;
    cursor: pointer;
}

/*Estilos botón suscribete*/

.button {
    display: block;
    padding: 7px;
    background: #C69C6D;
    text-align: center;
    color: white;
    font-size: 1.4em;
    border-radius: 3px;
    transition: all .4s ease-in;
    text-decoration: none;
    width: 50%;
    margin: auto;
}

.leer {
    width: 120px;
    height: 35px;
    margin-top: auto;
    padding-top: 6px;
    margin: auto;
}

.donate {
    background: #333333;
}

.button:hover {
    background: #606060;
}

.my-photo {
    border-radius: 150px;
}

/*Estilos de footer*/

.footer {
    width: 100%;
    background: #333;
    color: #fff;
    display: flex;
    padding: 20px;
    flex-wrap: wrap;
    text-align: center;
    align-content: center;
}

.footer .licence {
    display: block;
    text-decoration: none;
    font-size: 12px;
    color: white;
    padding: 7px;
    justify-content: center;
    width: auto;
}

.footer .licence__img {
    display: flex;
    margin-left: 39%;
}

.footer .licence__text {
    color: white;
    text-decoration: underline;
    font-size: 13px;
}

/*Estilos responsive*/

@media screen and (max-width: 56.25em) {
    
    
    .col {
        margin: 1% 0 1% 0;
    }
    
    .span_3_of_3,
    .span_2_of_3,
    .span_1_of_3 {
        width: 100%;
        font-size: 13px;
        color: gray;
        text-align: center;
    }
    
    .side-post {
        width: 100%;
        margin: auto;
    }
    
    .button {
        font-size: 15px;
        
    }
    
    .button--donate {
        font-size: 15px;
    }
}

@media(min-width:480px) {
    .logo {
        font-size: 30px;
    }
    
    .side-post {
        width: 100%;
        margin: auto;
    }
    
    .footer .licence__img {
        margin-left: 43%;
    }
    
    .side-content {
        font-size: .9em;
    }
    
    .span_3_of_3,
    .span_1_of_3 {
        width: 50%;
        margin: 1px 0 0 0;
        font-size: 13px;
        color: gray;
        text-align: center;
    }
}

@media(min-width:1024px) {
    .blog {
        width: 1000px;
    }
    
    .nav {
        position: static;
        width: auto;
    }
    
    .menu {
        display: flex;
    }
    
    .icon-menu {
        display: none;
    }
    
    .select {
        background: rgba(255,255,255,0.7);
        color: #333;
    }
    
    .span_2_of_3 {
        width: 66.1%;
        text-align: justify;
        font-size: 13px;
        margin-bottom: auto;
    }
    
    .blog-title {
        text-align: left;
        font-size: 20px;
    }
    
    .post__img {
        width: 150px;
        position: absolute;
    }
    
    .blog-content {
        text-align: justify;
        padding: 0 0 0 29%;
    }
    
    .leer {
        margin: 0 0 0 80%;
        font-size: 15px;
    }
    
    .span_1_of_3 .social [class^="icon-"] {
    font-size: 15px;
    padding: 5px;
    border-radius: 50px;
    width: 60%;
    height: 60%;
}
    
    .span_3_of_3,
    .span_1_of_3 {
        width: 30%;
        padding: 9px;
        font-size: 13px;
        color: gray;
        text-align: center;
    }
    
    .span_3_of_3 {
        text-align: justify;
    }
    
    .donate {
        margin-top: 8px;
    }
    
    .footer .licence{
        display: block;
        align-content: center;
        margin-left: 22%;
    }
}

@media(min-width:1280px) {
    .blog {
        width: 1200px;
    }
}
