@import url(https://fonts.googleapis.com/css?family=Open+Sans);

* {
	box-sizing: border-box;
}
body {
    margin: 0;
	font-family: 'Open Sans', sans-serif;
}

img {
    display: block;
    max-width: 100%;
}

.section__titulo {
    text-align: center;
    font-size: 30px;
    color: #333;
}

.contenedor {
    margin: auto;
    width: 99%;
}

/*Estilos del header*/

header {
	height: 50px;
    background: rgba(51,51,51,0.9);
	color: #fff;
    text-decoration: none;
}

header .contenedor {
	display: flex;
    justify-content: space-between;
    text-decoration: none;
}

.logo, icon-menu {
    margin: 5px;
    text-decoration: none;
    color: white;
}

.img-logo {
    weight: 48px;
    height: 48px;
}

.logo-text{
    text-decoration: none;
    color: white;
}

.icon-menu {
    display: block;
    width: 20%;
    height: 20%;
    font-size: 28px;
    background: rgba(51,51,51,0.9);
    color: #fff;
    text-align: center;
    line-height: 45px;
    border-radius: 5px;
    margin-left: auto;
    cursor: pointer;
}
/*Estilos del menu*/
.nav {
    position: absolute;
    top: 60px;
    left: -100%;
    width: 100%;
    transition: all 0.4s;
}

.menu {
    list-style: none;
    padding: 0;
    margin: 0;
}

.menu__link {
    top: 60px;
    display: block;
    padding: 15px;
    background: rgba(51,51,51,0.9);
    text-decoration: none;
    color: #fff;
}

.menu__link:hover, .select {
    background: rgba(255,255,255,0.7);
    color: #333;
}

.mostrar {
    left: 0;
}

/*Estilos del banner*/

.banner {
    margin-top: -60px;
    position: relative;
    z-index: -1000;
    margin-bottom: 25px;
}

.banner .contenedor {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    width: 100%;
    color: #fff;
    text-align: center;
}

.banner__txt {
    display: none;
}

/*Estilos de blog*/

.blog__columna {
    background: #333;
    color: #fff;
    padding: 15px;
    margin: 5px;
}

/*Estilos entradas*/

.entradas__img {
    width: 100%;
}

.post1,
.post2,
.post3 {
	color: white;
	text-decoration: none;
	cursor: pointer;
}

/*Estilos de footer*/

.footer {
    background: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
}
.footer .social [class^="icon-"] {
    color: #333;
    text-decoration: none;
    font-size: 15px;
    padding: 7px;
    background: white;
    border-radius: 50px;
    width: 50%;
    height: 50%;
    line-height: 40%;
}

.footer .licence {
    text-decoration: none;
    font-size: 12px;
    padding: 7px;
    justify-content: center;
    margin: auto;
    width: 30%;
}

.footer .licence .licence__img {
    display: block;
    margin-left: 15%;
}

.footer .licence .licence__text {
    color: #fff;
    text-decoration: underline;
    text-align: center;
}

/*Estilos responsive*/

@media(min-width:480px) {
    .logo {
        font-size: 30px;
    }
    
    .banner__titulo {
        font-size: 30px;
    }
    
    .banner__txt {
        font-size: 18px;
        display: block;
        margin: 5px;
    }
    
    .blog {
        display: flex;
        justify-content: space-between;
        margin: 10px;
    }
    
    .blog__columna {
        width: 32%;
    }
    
    .footer .social [class^="icon-"] {
        margin: 0 5px;
    }
    
    .footer .licence .licence__img {
        display: block;
        margin-left: 31%;
    }
}

@media(min-width:768px) {
    .banner__titulo {
        font-size: 50px;
    }
    .entradas__titulo {
        font-size: 30px;
    }
}

@media(min-width:1024px) {
    .contenedor {
        width: 1000px;
    }
    
    .nav {
        position: static;
        width: auto;
    }
    
    .menu {
        display: flex;
    }
    
    .icon-menu {
        display: none;
    }
    
    .menu__link {
        
    }
    
    .select {
        background: rgba(255,255,255,0.7);
        color: #333;
    }
    
    .banner__titulo {
        font-size: 60px;
    }
    
    .banner__txt{
        font-size: 30px; 
    }
    
    .blog__columna {
        padding: 30px;
    }
    
    .entradas__titulo {
        font-size: 30px;
        text-align: center;
    }
    
    .footer .licence .licence__img {
        display: block;
        margin-left: 39%;
    }
}

@media(min-width:1280px) {
    .contenedor {
        width: 1200px;
    }
    
    .banner .contenedor {
        top: 40%;
    }
}
