@import url('https://fonts.googleapis.com/css?family=Roboto:300&display=swap');
@import url('https://fonts.googleapis.com/css?family=Playball&display=swap');

* {
	box-sizing: border-box;
}
body {
    margin: 0;
	font-family: 'Playball', cursive;
}

img {
    display: block;
    max-width: 100%;
}

header .contenedor {
    display: flex;
    justify-content: space-between;
    text-decoration: none;
}

.banner {
    position: relative;
    margin-bottom: 25px;
    margin:auto;
}

.banner .contenedor {
    position: absolute;
    top: 95%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    width: 100%;
    color: #C9A9B3;
    text-align: center;
    margin: auto;
    font-size: 30px;
}

.entradas__txt {
    margin: auto;
    padding: 5px;
    padding-bottom: 20px;
    text-align: center;
    font-size: 20px;
    color: gray;
}

.entradas__titulo {
    text-align: center;
    font-size: 28px;
    color: black;
}

.pie__entrada {
    margin: auto;
    text-align: justify;
    font-size: 18px;
    color: #333;
}

.blog {
    background: #FBF8FB;
}

.footer {
    background: #333;
    
    padding: 5px;
    text-align: center;
}

.footer .text {
    text-decoration: none;
    color: #fff;
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
}

@media(min-width: 1024px) {
    .banner__img {
        margin-left: 13%;
    }

    .banner .contenedor {
        
        font-size: 50px;
    }

    .entradas__txt {
        font-size: 20px;
    }

    .entradas__titulo {
        font-size: 28px;
    }
}

@media(min-width: 720px) {
    .banner__img {
        padding-left: 14%;
    }

    .banner .contenedor {
        
        font-size: 50px;
    }

    .entradas__txt {
        font-size: 25px;
    }

    .entradas__titulo {
        font-size: 30px;
    }
}
