@import url(https://fonts.googleapis.com/css?family=Open+Sans);

* {
	box-sizing: border-box;
}
body {
    margin: 1px;
	font-family: 'Open Sans', sans-serif;
}

img {
    display: block;
    max-width: 100%;
}

.section__titulo {
    text-align: center;
    font-size: 30px;
    color: #333;
}

.contenedor {
    margin: auto;
    width: 99%;
}

/*Estilos del header*/

header {
	height: 50px;
    background: rgba(51,51,51,0.9);
	color: #fff;
	padding-bottom: 52px;
}

.img-logo {
    weight: 48px;
    height: 48px;
}

header .container {
	display: flex;
    justify-content: space-between;
}

.logo, icon-menu {
    margin: 5px;
    text-decoration: none;
    color: white;
}

.logo-text {
    text-decoration: none;
    color: white;
}

.icon-menu {
    display: block;
    width: 20%;
    height: 20%;
    font-size: 28px;
    background: rgba(51,51,51,0.9);
    color: #fff;
    text-align: center;
    line-height: 45px;
    border-radius: 5px;
    margin-left: auto;
    cursor: pointer;
}
/*Estilos del menu*/
.nav {
    position: absolute;
    top: 60px;
    left: -100%;
    width: 100%;
    transition: all 0.4s;
}

.menu {
    list-style: none;
    padding: 0;
    margin: 0;
}

.menu__link {
    top: 60px;
    display: block;
    padding: 15px;
    background: rgba(51,51,51,0.9);
    text-decoration: none;
    color: #fff;
}

.menu__link:hover, .select {
    background: rgba(255,255,255,0.7);
    color: #333;
}

.mostrar {
    left: 0;
}

/*Estilos grilla*/

.post__img {
    max-width: 100%;
    height: auto;
    border-radius: 3px;
}

.console {
	border-radius: 5px;
	background: #333;
	border: 2px solid #333;
	border-left: 7px solid orange;
	color: #fff;
	width: 100%;
	padding: 7px 20px 7px 20px;
	font-size: 13px;
	text-align: left;
}

.section {
    clear: both;
    padding: 0;
    margin: 0;
}

.col {
    display: block;
    float: left;
    margin: 1% 0 1% 0;
}

.col:first-child{
    margin-left: 0;
}

.span_3_of_3,
.span_2_of_3 {
    width: 100%;
    text-align: left;
}

.span_1_of_3 {
    text-align: center;
}

.span_1_of_3 .social [class^="icon-"] {
    color: #fff;
    text-decoration: none;
    font-size: 15px;
    padding: 2px;
    background: #333;
    border-radius: 50px;
    width: 50%;
    height: 50%;
}

/*Estilos blog*/

.blog {
    max-width: 1020px;
    margin: 0 auto;
}

.blog-post {
    background: white;
    margin: 0 auto 2em auto;
    padding: 35px 30px;
}

.side-post {
    background: white;
    width: 100%;
    float: left;
    margin: auto;
    padding: 20px;
}

.img-logo-panel {
    margin-bottom: 5px;
    border-radius: 5px;
}

.side-content {
    font-size: .9em;
    margin-top: 8px;
    margin-bottom: 0;
    text-align: justify;
}

.blog-content {
    font-size: 1em;
    border-left: 5px solid #333;
    padding-left: 15px;
}

.blog-title {
    font-weight: 500px;
    font-size: 2.5em;
    margin-top: 5px;
    text-align: center;
}

.date {
    font-size: 1em;
    font-weight: 400;
    color: #9c9c9c;
    margin-top: -10px;
    text-decoration: underline;
    text-decoration-color: currentColor;
}

.post-link{
    color: #C69C6D;
    font-style: italic;
    transition: all 0.4s;
    text-decoration: none;
}

.post-link:hover {
    text-decoration: underline;
    cursor: pointer;
}

/*Estilos botón suscribete*/

.button {
    display: block;
    padding: 15px 20px;
    margin-top: .8em;
    background: #C69C6D;
    text-align: center;
    color: white;
    font-size: 15px;
    border-radius: 3px;
    transition: all .4s ease-in;
    text-decoration: none;
    width: 150px;
}

.donate {
    background: #333333;
}

.button:hover {
    background: #606060;
}

.my-photo {
    border-radius: 150px;
}

/*Estilos de footer*/

.footer {
    width: 100%;
    background: #333;
    color: #fff;
    display: flex;
    padding: 20px;
    flex-wrap: wrap;
    text-align: center;
    align-content: center;
}

.footer .licence {
    display: block;
    text-decoration: none;
    font-size: 12px;
    color: white;
    padding: 7px;
    justify-content: center;
    width: auto;
}

.footer .licence__img {
    display: flex;
    margin-left: 39%;
}

.footer .licence__text {
    color: white;
    text-decoration: underline;
    font-size: 13px;
}

/*Estilos responsive*/

@media(min-width:480px) {
    .span_3_of_3,
    .span_2_of_3{
        text-align: justify;
    }

    .span_1_of_3 {
        align-content: center;
    }
    
    .blog {
        padding: 20px;
    }

    .my-photo {
        width: 200px;
        margin-left: 45px;
    }

    .side-content {
        width: 300px;
    }

    .button {
        width: 300px;
    }
}

@media(min-width:680px) {
    .logo {
        font-size: 30px;
    }

    .col{
        margin: 1% 0 1% 1.6%;
    }

    .blog-title {
        text-align: left;
    }

    .span_2_of_3 {
        width: 66.1%;
        text-align: justify;
    }

    .span_3_of_3,
    .span_1_of_3 {
        width: 32.2%;
    }

    .side-post {
        margin: 0 auto 1.5em auto;
        width: 15em;
    }

    .my-photo {
        margin: 0;
    }

    .side-content {
        font-size: .9em;
        width: 13em;
    }

    .button {
        font-size: 1em;
        width: 150px;
        margin: auto;
    }

    .donate {
        margin-top: 5px;
    }

    .console {
    width: 90%;
    font-size: 14px;
    }

    .footer .licence__img {
        margin-left: 43%;
    }

}

@media(min-width:680px) {
	.console {
	width: 85%;
	}
}

@media(min-width:1024px) {
    .blog {
        width: 1000px;
    }

    .nav {
        position: static;
        width: auto;
    }

    .menu {
        display: flex;
    }

    .icon-menu {
        display: none;
    }

    .

    .span_2_of_3 .blog-post{
        text-align: justify;
    }

    .select {
        background: rgba(255,255,255,0.7);
        color: #333;
    }

    .console {
    width: 80%;
    font-size: 15px;
    }

    .footer .licence{
        display: block;
        align-content: center;
        margin-left: 22%;
    }
}

@media(min-width:1280px) {
    .blog {
        width: 1200px;
    }
}
